In [2]:
!pip install countryinfo

Collecting countryinfo
  Downloading countryinfo-0.1.2-py3-none-any.whl.metadata (24 kB)
Downloading countryinfo-0.1.2-py3-none-any.whl (602 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 602.2/602.2 kB 4.6 MB/s eta 0:00:00
Installing collected packages: countryinfo
Successfully installed countryinfo-0.1.2

In [30]:
import pytz

In [31]:
#Importar librerias que se usaran
import pandas as pd
import matplotlib.pyplot as plt
from countryinfo import CountryInfo

In [32]:
df = pd.read_csv('fifa_eda.csv')

In [33]:
#Visualizar las primeras 20 lineas
df.head(20)

,ID,Name,Age,Nationality,Overall,Potential,Club,Value,Wage,Preferred Foot,International Reputation,Skill Moves,Position,Joined,Contract Valid Until,Height,Weight,Release Clause
0,158023,L. Messi,31,Argentina,94,94,FC Barcelona,110500.0,565.0,Left,5.0,4.0,RF,2004,2021-01-01,5.583333,159.0,226500.0
1,20801,Cristiano Ronaldo,33,Portugal,94,94,Juventus,77000.0,405.0,Right,5.0,5.0,ST,2018,2022-01-01,6.166667,183.0,127100.0
2,190871,Neymar Jr,26,Brazil,92,93,Paris Saint-Germain,118500.0,290.0,Right,5.0,5.0,LW,2017,2022-01-01,5.750000,150.0,228100.0
3,193080,De Gea,27,Spain,91,93,Manchester United,72000.0,260.0,Right,4.0,1.0,GK,2011,2020-01-01,6.333333,168.0,138600.0
4,192985,K. De Bruyne,27,Belgium,91,92,Manchester City,102000.0,355.0,Right,4.0,4.0,RCM,2015,2023-01-01,5.916667,154.0,196400.0
5,183277,E. Hazard,27,Belgium,91,91,Chelsea,93000.0,340.0,Right,4.0,4.0,LF,2012,2020-01-01,5.666667,163.0,172100.0
6,177003,L. Modrić,32,Croatia,91,91,Real Madrid,67000.0,420.0,Right,4.0,4.0,RCM,2012,2020-01-01,5.666667,146.0,137400.0
7,176580,L. Suárez,31,Uruguay,91,91,FC Barcelona,80000.0,455.0,Right,5.0,3.0,RS,2014,2021-01-01,6.000000,190.0,164000.0
8,155862,Sergio Ramos,32,Spain,91,91,Real Madrid,51000.0,380.0,Right,4.0,3.0,RCB,2005,2020-01-01,6.000000,181.0,104600.0
9,200389,J. Oblak,25,Slovenia,90,93,Atlético Madrid,68000.0,94.0,Right,3.0,1.0,GK,2014,2021-01-01,6.166667,192.0,144500.0
10,188545,R. Lewandowski,29,Poland,90,90,FC Bayern München,77000.0,205.0,Right,4.0,4.0,ST,2014,2021-01-01,6.000000,176.0,127100.0
11,182521,T. Kroos,28,Germany,90,90,Real Madrid,76500.0,355.0,Right,4.0,3.0,LCM,2014,2022-01-01,6.000000,168.0,156800.0
12,182493,D. Godín,32,Uruguay,90,90,Atlético Madrid,44000.0,125.0,Right,3.0,2.0,CB,2010,2019-01-01,6.166667,172.0,90200.0
13,168542,David Silva,32,Spain,90,90,Manchester City,60000.0,285.0,Left,4.0,4.0,LCM,2010,2020-01-01,5.666667,148.0,111000.0
14,215914,N. Kanté,27,France,89,90,Chelsea,63000.0,225.0,Right,3.0,2.0,LDM,2016,2023-01-01,5.500000,159.0,121300.0
15,211110,P. Dybala,24,Argentina,89,94,Juventus,89000.0,205.0,Left,3.0,4.0,LF,2015,2022-01-01,5.833333,165.0,153500.0
16,202126,H. Kane,24,England,89,91,Tottenham Hotspur,83500.0,205.0,Right,3.0,3.0,ST,2010,2024-01-01,6.166667,196.0,160700.0
17,194765,A. Griezmann,27,France,89,90,Atlético Madrid,78000.0,145.0,Left,4.0,4.0,CAM,2014,2023-01-01,5.750000,161.0,165800.0
18,192448,M. ter Stegen,26,Germany,89,92,FC Barcelona,58000.0,240.0,Right,3.0,1.0,GK,2014,2022-01-01,6.166667,187.0,123300.0
19,192119,T. Courtois,26,Belgium,89,90,Real Madrid,53500.0,240.0,Left,4.0,1.0,GK,2018,2024-01-01,6.500000,212.0,113700.0

In [34]:
#Generar la media, minimo y maximo de los jugadores en total y por pais
print('Media: ', df.mean(numeric_only=True))
print('Minimo: ', df.min(numeric_only=True))
print('Maximo: ', df.max(numeric_only=True))

Media:  ID                          214298.338606
Age                             25.122206
Overall                         66.238699
Potential                       71.307299
Value                         2444.530214
Wage                             9.731312
International Reputation         1.113222
Skill Moves                      2.361308
Joined                        2016.420607
Height                           5.946771
Weight                         165.979129
Release Clause                4585.060971
dtype: float64
Minimo:  ID                            16.000000
Age                           16.000000
Overall                       46.000000
Potential                     48.000000
Value                         10.000000
Wage                           0.000000
International Reputation       1.000000
Skill Moves                    1.000000
Joined                      1991.000000
Height                         5.083333
Weight                       110.000000
Release Clause                13.000000
dtype: float64
Maximo:  ID                          246620.00
Age                             45.00
Overall                         94.00
Potential                       95.00
Value                       118500.00
Wage                           565.00
International Reputation         5.00
Skill Moves                      5.00
Joined                        2018.00
Height                           6.75
Weight                         243.00
Release Clause              228100.00
dtype: float64

In [35]:
#Estadisticas por PAIS
#Como hay columnas con texto solo tomaremos las que tienen datos numericos
num_df = df.select_dtypes(include='number')

In [36]:
agrupado = df.groupby('Nationality')[num_df.columns].agg(['mean','min','max']).round(2)
agrupado

                    ID                    Age         Overall          \
                  mean     min     max   mean min max    mean min max
Nationality
Afghanistan  234743.50  223989  244175  22.50  20  26   61.00  59  63
Albania      221682.45  170612  245792  24.02  18  34   65.92  52  81
Algeria      206355.72   49659  245565  27.05  19  35   70.63  58  85
Andorra      192937.00  192937  192937  28.00  28  28   62.00  62  62
Angola       206676.00  144037  242188  25.87  19  34   67.60  60  78
...                ...     ...     ...    ...  ..  ..     ...  ..  ..
Uzbekistan   189585.00  181573  197597  29.50  29  30   67.50  60  75
Venezuela    224879.64  162123  246388  24.31  18  34   67.27  53  81
Wales        201690.65     657  246227  24.74  17  37   64.14  47  88
Zambia       236750.56  190276  246144  22.22  18  29   65.22  56  73
Zimbabwe     211857.77  189171  239438  26.85  22  34   69.77  64  78

            Potential  ... Joined Height              Weight                \
                 mean  ...    max   mean   min   max    mean    min    max
Nationality            ...
Afghanistan     67.75  ...   2018   5.73  5.67  5.83  149.25  143.0  152.0
Albania         71.70  ...   2018   5.95  5.58  6.42  164.42  137.0  196.0
Algeria         72.98  ...   2018   5.95  5.50  6.42  167.25  132.0  207.0
Andorra         64.00  ...   2018   6.00  6.00  6.00  174.00  174.0  174.0
Angola          71.53  ...   2018   5.88  5.58  6.17  166.53  143.0  192.0
...               ...  ...    ...    ...   ...   ...     ...    ...    ...
Uzbekistan      67.50  ...   2017   5.96  5.92  6.00  164.00  163.0  165.0
Venezuela       73.15  ...   2018   5.89  5.25  6.50  164.67  121.0  216.0
Wales           69.97  ...   2018   5.96  5.50  6.50  166.40  132.0  207.0
Zambia          73.78  ...   2018   5.91  5.58  6.25  162.00  141.0  201.0
Zimbabwe        72.46  ...   2018   5.85  5.50  6.17  164.00  132.0  185.0

            Release Clause
                      mean    min       max
Nationality
Afghanistan         617.25  374.0     878.0
Albania            3694.03  116.0   35500.0
Algeria            8490.02  259.0   78000.0
Andorra             384.00  384.0     384.0
Angola             3623.74  463.0   17800.0
...                    ...    ...       ...
Uzbekistan         6725.00  250.0   13200.0
Venezuela          4203.21  108.0   35400.0
Wales              3714.37   53.0  123000.0
Zambia             2174.00  356.0    6600.0
Zimbabwe           5319.38  594.0   18900.0

[164 rows x 36 columns]

In [37]:
#Crear 2 jugadores ficticios

player1 = {
    'ID': df['ID'].max() + 1,  # siguiente ID disponible
    'Name': 'Juan Pérez',
    'Age': 25,
    'Nationality': 'Spain',
    'Overall': 88,
    'Potential': 91,
    'Club': 'FC Barcelona',
    'Value': 120000000,        # en euros
    'Wage': 400000,            # en euros por semana
    'Preferred Foot': 'Right',
    'International Reputation': 4,
    'Skill Moves': 5,
    'Position': 'ST',          # delantero
    'Joined': '2023-07-01',
    'Contract Valid Until': 2028,
    'Height': 180,             # en cm
    'Weight': 75,              # en kg
    'Release Clause': 250000000
}

player2 = {
    'ID': df['ID'].max() + 2,
    'Name': 'Gil Gómez',
    'Age': 22,
    'Nationality': 'Brazil',
    'Overall': 85,
    'Potential': 90,
    'Club': 'Santos FC',
    'Value': 95000000,
    'Wage': 250000,
    'Preferred Foot': 'Left',
    'International Reputation': 3,
    'Skill Moves': 4,
    'Position': 'CM',          # mediocampista
    'Joined': '2024-01-10',
    'Contract Valid Until': 2027,
    'Height': 170,
    'Weight': 65,
    'Release Clause': 150000000
}

In [38]:
# Añadir los jugadores al DataFrame
df = pd.concat([df, pd.DataFrame([player1, player2])], ignore_index=True)

In [39]:
# Visualizar los últimos registros
print("Últimos jugadores añadidos")
print(df.tail(2))

Últimos jugadores añadidos
           ID        Name  Age Nationality  Overall  Potential          Club  \
18207  246621  Juan Pérez   25       Spain       88         91  FC Barcelona
18208  246622   Gil Gómez   22      Brazil       85         90     Santos FC

             Value      Wage Preferred Foot  International Reputation  \
18207  120000000.0  400000.0          Right                       4.0
18208   95000000.0  250000.0           Left                       3.0

       Skill Moves Position      Joined Contract Valid Until  Height  Weight  \
18207          5.0       ST  2023-07-01                 2028   180.0    75.0
18208          4.0       CM  2024-01-10                 2027   170.0    65.0

       Release Clause
18207     250000000.0
18208     150000000.0

In [62]:
import pandas as pd
import pytz

df = pd.read_csv("fifa_eda.csv")

# Lambda
df['ZonaHoraria'] = df['Nationality'].apply(
    lambda x: pytz.country_timezones[x][0] if x in pytz.country_timezones else ''
)

#Resultados
print(df[['Nationality','ZonaHoraria']].head(20))

   Nationality ZonaHoraria
0    Argentina
1     Portugal
2       Brazil
3        Spain
4      Belgium
5      Belgium
6      Croatia
7      Uruguay
8        Spain
9     Slovenia
10      Poland
11     Germany
12     Uruguay
13       Spain
14      France
15   Argentina
16     England
17      France
18     Germany
19     Belgium

In [63]:
# Lambda para 'PremioBalonDeOro'
df['BalonDeOro'] = df['Potential'].apply(lambda x: 'Candidato' if x > 85 else 'Next Year')

# Ver resultados
print(df[['Name','Potential','BalonDeOro']].head(20))

                 Name  Potential BalonDeOro
0            L. Messi         94  Candidato
1   Cristiano Ronaldo         94  Candidato
2           Neymar Jr         93  Candidato
3              De Gea         93  Candidato
4        K. De Bruyne         92  Candidato
5           E. Hazard         91  Candidato
6           L. Modrić         91  Candidato
7           L. Suárez         91  Candidato
8        Sergio Ramos         91  Candidato
9            J. Oblak         93  Candidato
10     R. Lewandowski         90  Candidato
11           T. Kroos         90  Candidato
12           D. Godín         90  Candidato
13        David Silva         90  Candidato
14           N. Kanté         90  Candidato
15          P. Dybala         94  Candidato
16            H. Kane         91  Candidato
17       A. Griezmann         90  Candidato
18      M. ter Stegen         92  Candidato
19        T. Courtois         90  Candidato